name = "toml-f"
version = "0.4.3"
license = "Apache-2.0 OR MIT"
maintainer = ["@awvwgk"]
author = ["Sebastian Ehlert"]
copyright = "2019-2025 Sebastian Ehlert"
homepage = "https://toml-f.github.io/toml-f"
keywords = ["toml", "io", "serde"]
description = "TOML parser implementation for data serialization and deserialization"

[library]
source-dir = "src"

[build]
auto-tests = false

[[test]]
name = "tftest"
source-dir = "test/unit"
[test.dependencies]
test-drive.git = "https://github.com/fortran-lang/test-drive.git"

[[executable]]
name = "toml2json"
source-dir = "test/compliance"
main = "toml2json.f90"

[[executable]]
name = "json2toml"
source-dir = "test/compliance"
main = "json2toml.f90"

# FORD documentation settings
[extra.ford]
project = "TOML-Fortran"
summary = "TOML parser implementation for data serialization and deserialization in Fortran."
favicon = "./assets/toml-f-64x64.png"
project_github = "https://github.com/toml-f/toml-f"
project_download = "https://github.com/toml-f/toml-f/releases"
project_website = "https://toml-f.readthedocs.io"
author = "Sebastian Ehlert"
github = "https://github.com/awvwgk"
src_dir = ["./src"]
exclude_dir = ["./test"]
media_dir = "./assets"
docmark = "<"
predocmark = ">"
source = true
graph = true
sort = "alpha"
print_creation_date = true
creation_date = "%Y-%m-%d %H:%M %z"
md_extensions = ["markdown.extensions.toc", "markdown.extensions.smarty"]
externalize = true

[extra.ford.extra_mods]
iso_fortran_env = "https://gcc.gnu.org/onlinedocs/gfortran/ISO_005fFORTRAN_005fENV.html"
